# directories
*node_modules*
*chrome-caching*
*recorded*
*top-ten-*

# extensions
*.tmp
*.log
*.bk
*.tree
*.txt
*.json
!pwconfig.json
!package.json
!package-lock.json

# specific files
yarn.lock

# exceptions
