# directories
js-patcher/built*
*chrome-caching*
*node_modules*
*recorded*
*top-ten-*

# extensions
*.tmp
*.log
*.bk
*.tree
*.txt
!requirements.txt

# specific files
yarn.lock

# exceptions
# !pwconfig.json
# !package.json
# !package-lock.json


